img {
	width:200px;
	height:200px;
}

table, td {
	border: 1px #70b8ff;
}
div {
	background-color: #babaeb;
	margin: auto;
	border: 2px solid black;
	border-radius: 11px;
}
div p {
	text-align: center;
}